{% extends 'base.html.twig' %}
{% block content%}
            <div class="row">
                {% for product in products %}
                    <div class="col-lg-3 col-2 bg-danger">{{ product }}</div>
                {% endfor %}
            </div>
            <div class="row">
                {% for animal in animals %}
                    <div class="col-lg-3 col-2 bg-danger">{{ animal }}</div>
                {% endfor %}
            </div>
{% endblock%}